<%- include('includes/head.ejs') %>
<%- include('includes/topbar.ejs') %>
<%- include('includes/sidebar.ejs') %>
<div class="col py-3">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">


      <h1 class="display-4">Aprobar solicitud de NG Block</h1>

      <br>
      <br>
      <a><b>Solicitudes de NG Block</b></a>
      <br>

      <div class="col-sm-3" >
        <br>
        <label  for="estatus_ng_block" class="col-form-label" ><b>Filtrar</b></label>
        <select name="estatus_ng_block" class="form-select" aria-label="Default select example">
          <option value="Pendiente">Pendiente</option>
          <option value="Rechazado">Rechazado</option>
          <option value="Aceptado">Aceptado</option>
        </select>
      </div>
      <br>

      <table class="table">
        <thead>
          <tr>
            <th scope="col"><center>Nombre</center></th>
            <th scope="col"><center>Fecha de uso</center></th>
            <th scope="col"><center>Fecha en la que se solicitó</center></th>
            <th scope="col"><center>Descripción</center></th>
            <th scope="col"><center>Turno</center></th>
            <th scope="col"><center>Estatus actual</center></th>
            <th scope="col"><center>Firma</center></th>
          </tr>
        </thead>

        <tbody>
        <% if (ng_block.length > 0) { %>
        <% for (let ng_block1 of ng_block) { %>
          <tr>
            <!--Falta aniadir nombre del solicitante -->
            <td><center>Nombre</center></td>
            <!--Falta aniadir nombre del solicitante -->
            <td><center><%= ng_block1.fecha_uso_ng_block %></center></td>
            <td><center><%= ng_block1.fecha_solicitud_ng_block %></center></td>
            <td><center><%= ng_block1.descripcion_ng_block %></center></td>
            <td><center><%= ng_block1.turno_ng_block %></center></td>
            <td><center><%= ng_block1.estatus_ng_block %></center></td>


            <td><center>
              <form>
              <select name="estatus_ng_block<%= ng_block1.id_ng_block %>" class="btn btn-secondary dropdown-toggle" aria-label="Default select example">
                <option value="" disabled selected>Cambiar estatus</option>
                <option value="Aprobado">Aprobado</option>
                <option value="Rechazado">Rechazado</option>
              </select>
              </form>
            </center></td>
          </tr>
        <% } %>
    <% } else { %>
        <h1>No hay ninguna solicitud pendiente.</h1>
    <% } %>
      </tbody>
    </table> <br>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <form>
      <input type="submit" value="Realizar cambios" class="btn btn-primary">
      </form>
    </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
      <br><br>




    </div>
  </div>
        <div aria-live="polite" aria-atomic="true" class="bg-dark position-relative bd-example-toasts">
        <div class="toast-container position-absolute p-3" id="toastPlacement">
          <div class="toast">
            <div class="toast-header">
              <img src="..." class="rounded me-2" alt="...">
              <strong class="me-auto">Bootstrap</strong>
              <small>11 mins ago</small>
            </div>
            <div class="toast-body">
              Hello, world! This is a toast message.
            </div>
          </div>
        </div>
      </div>
</div>

<%- include('includes/foot.ejs') %>
