<%- include('includes/head.ejs') %>
<%- include('includes/topbar.ejs') %>
<%- include('includes/sidebar.ejs') %>
<div class="col py-3">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">


      <h1 class="display-4">Aprobar solicitud de NG Block</h1>

      <br>
      <br>
      <a><b>Solicitudes de NG Block</b></a>
      <br>
      <br>

      <table class="table">
        <thead>
          <tr>
            <th scope="col"><center>No. Empleado</center></th>
            <th scope="col"><center>Nombre</center></th>
            <th scope="col"><center>Fecha en la que se va a usar</center></th>
            <th scope="col"><center>Turno</center></th>
            <th scope="col"><center>Documento formal</center></th>
            <th scope="col"><center>Firma</center></th>
          </tr>
        </thead>

        <tbody>
        <% if (ng_block.length > 0) { %>
        <% for (let ng_block1 of ng_block) { %>
          <tr>
            <td><center><%= ng_block1.no_empleado %></center></td>
            <!--Falta aniadir nombre del solicitante -->
            <td><center>Nombre</center></td>
            <!--Falta aniadir nombre del solicitante -->
            <td><center><%= ng_block1.fecha_uso_ng_block %></center></td>
            <td><center><%= ng_block1.turno_ng_block %></center></td>
            <td><center><button type="button" class="btn btn-primary btn-sm">Visualizar</button></center></td>
            <td><center>

              <select class="form-select" aria-label="Default select example">
                <option selected>Pendiente</option>
                <option value="Aprobado">Aprobado</option>
                <option value="Rechazado">Rechazado</option>
              </select>

            </center></td>
          </tr>
        <% } %>
    <% } else { %>
        <h1>No hay ninguna solicitud pendiente.</h1>
    <% } %>
      </tbody>
    </table>

      <br><br><br><br><br>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="button" id="botoncambiosToast">Realizar cambios</button>
      </div>




    </div>
  </div>

<%- include('includes/foot.ejs') %>
