<%- include('includes/head.ejs') %>
<%- include('includes/topbar.ejs') %>
<%- include('includes/sidebar.ejs') %>
<div class="col py-3">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">


      <h1 class="display-4">Aprobar vacaciones</h1>

      <br>
      <br>
      <a><b>Solicitudes de Vacaciones</b></a>
      <br>
      <br>

      <table class="table">
        <thead>
          <tr>
            <th scope="col"><center>No. Empleado</center></th>
            <th scope="col"><center>Nombre</center></th>
            <th scope="col"><center>Departamento</center></th>
            <th scope="col"><center>Responsable</center></th>
            <th scope="col"><center>Dias solicitados</center></th>
            <th scope="col"><center>Información completa</center></th>
            <th scope="col"><center>Firma</center></th>
          </tr>
        </thead>

        <tbody>
        <% if (vacaciones.length > 0) { %>
        <% for (let vacaciones1 of vacaciones) { %>
          <tr>
            <td><center><%= vacaciones1.no_empleado %></center></td>
            <td><center>Nombre</center></td>
            <td><center>Departamento</center></td>
            <td><center><%= vacaciones1.responsable_ausencia %></center></td>
            <td><center><%= vacaciones1.dias_solicitados %></center></td>
            <td><center>
              <span class="hovertext" data-hover="
              Folio: <%= vacaciones1.folio %>
              No. Empleado: <%= vacaciones1.no_empleado %>
              Responsable: <%= vacaciones1.responsable_ausencia %>
              Fecha Reanudacion: <%= vacaciones1.reanudacion_labores %>
              Fecha primer día: <%= vacaciones1.primer_dia %>
              Fecha ultimo día: <%= vacaciones1.ultimo_dia %>
              Fecha de la solicitud: <%= vacaciones1.fecha_solicitud %>
              Días solicitados: <%= vacaciones1.dias_solicitados %>
              Estatus: <%= vacaciones1.estatus_vacaciones %>">
                Vacaciones
              </span>
            </center></td>
            <td><center>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pendiente
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown MenuButton">
                  <a class="Pendiente" href="#">Aprobado<br></a>
                  <a class="Pendiente" href="#">Rechazado<br></a>
                  <a class="Pendiente" href="#">Pendiente<br></a>
                </div>
              </div>
            </center></td>
          </tr>
        <% } %>
    <% } else { %>
        <h1>No hay ninguna solicitud pendiente.</h1>
    <% } %>
      </tbody>
    </table>

      <br>
      <br>
      <!--Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
      <!--Pagination -->
      <br>
      <br>
      <br>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="button">Realizar cambios</button>
      </div>



    </div>
  </div>
</div>

<%- include('includes/foot.ejs') %>
