<%- include('includes/head.ejs') %>
<%- include('includes/topbar.ejs') %>
<%- include('includes/sidebar.ejs') %>
<div class="col py-3">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">


      <h1 class="display-4">Aprobar vacaciones</h1>

      <br>
      <br>
      <a><b>Solicitudes de Vacaciones</b></a>
      <br>


      <div class="col-sm-3" >
        <br>
        <label  for="estatus_vacaciones" class="col-form-label" ><b>Filtrar</b></label>
        <select name="estatus_vacaciones" class="form-select" aria-label="Default select example">
          <option value="" disabled selected>Pendiente</option>
          <option value="Pendiente">Pendiente</option>
          <option value="Rechazado">Rechazado</option>
          <option value="Aceptado">Aceptado</option>
        </select>
      </div>
      <br>

      <table class="table">
        <thead>
          <tr>
            <th scope="col"><center>Nombre</center></th>
            <th scope="col"><center>Departamento</center></th>
            <th scope="col"><center>Responsable</center></th>
            <th scope="col"><center>Dias solicitados</center></th>
            <th scope="col"><center>Información completa</center></th>
            <th scope="col"><center>Estatus actual</center></th>
            <th scope="col"><center>Firma</center></th>
          </tr>
        </thead>

        <tbody>
        <% if (vacaciones.length > 0) { %>
        <% for (let vacaciones1 of vacaciones) { %>
          <tr>
            <td><center><%=vacaciones1.nombres_empleados%> <%=vacaciones1.apellido_paterno%> <%=vacaciones1.apellido_materno%></center></td>
            <td><center><%=vacaciones1.nombre_area%></center></td>
            <td><center><%= vacaciones1.responsable_ausencia %></center></td>
            <td><center><%= vacaciones1.dias_solicitados %></center></td>
            <td><center>
              <span class="hovertext" data-hover="
              Folio: <%= vacaciones1.folio %>
              No. Empleado: <%= vacaciones1.no_empleado %>
              Responsable: <%= vacaciones1.responsable_ausencia %>
              Fecha Reanudacion: <%= vacaciones1.reanudacion_labores %>
              Fecha primer día: <%= vacaciones1.fecha_primer_dia %>
              Fecha ultimo día: <%= vacaciones1.fecha_ultimo_dia %>
              Fecha de la solicitud: <%= vacaciones1.fecha_solicitud %>
              Días solicitados: <%= vacaciones1.dias_solicitados %>
              Estatus: <%= vacaciones1.estatus_vacaciones %>">
                Vacaciones
              </span>
            </center></td>
            <td><center><%= vacaciones1.estatus_vacaciones %></center></td>
            <td><center>
              <form>
              <select name="estatus_vacaciones<%= vacaciones1.folio %>" class="btn btn-secondary dropdown-toggle" aria-label="Default select example">
                <option value="" disabled selected>Cambiar estatus</option>
                <option value="Aprobado">Aprobado</option>
                <option value="Rechazado">Rechazado</option>
              </select>

              </form>
            </center></td>
          </tr>
        <% } %>
    <% } else { %>
        <h1>No hay ninguna solicitud pendiente.</h1>
    <% } %>
      </tbody>
    </table><br>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <form>
      <input type="submit" value="Realizar cambios" class="btn btn-primary">
      </form>
    </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<%- include('includes/foot.ejs') %>
