<%- include('includes/head.ejs') %>
<%- include('includes/topbar.ejs') %>
<%-include('includes/sidebar.ejs') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="col py-3">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <% if (success.length != 0) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>(っ◔◡◔)っ ❤ </strong> <%= success %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>
        <% if (error.length != 0) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>┻━┻ ︵ヽ(`▭´)ﾉ︵﻿ ┻━┻   </strong> <%= error %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>
      <h1 class="display-4">Aprobar vacaciones</h1> <br>


      <% if (userRol == 1 || userRol == 2) {%>
        <div class="row form-group">
            <label for="estatus_vacaciones"><b>Filtrar por Departamento</b></label>
            <div class="col-sm-3">
              <select name="departamento1" id="departamento1" class="form-select" aria-label="Default select example" required>
                <option value="" disabled selected>Departamento</option>
                <% for (let area1 of area) { %>
                  <option value="<%=area1.id_area%>"><%=area1.nombre_area%></option>
                <% } %>
              </select><br>
          </div>
          <div class="col-sm-2">
            <a id="filtro" href="/dlc/a_vacacionesp/1">
            <button type="button" class="btn btn-info">Filtrar</button>
            </a>
          </div>
        </div>
        <% } %>




      <div id="respuesta_ajax">
        <% if (vacaciones.length > 0) { %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><center>Nombre</center></th>
            <% if (userRol == 1 || userRol == 2) {%>
            <th scope="col"><center>Departamento</center></th>
            <% } %>
            <th scope="col"><center>Responsable</center></th>
            <th scope="col"><center>Dias solicitados</center></th>
            <th scope="col"><center>Información completa</center></th>
            <th scope="col"><center>Estatus actual</center></th>
            <% if (userRol == 1 || userRol == 3) {%>
            <th scope="col"><center></center></th>
            <th scope="col"><center></center></th>
            <% } %>
          </tr>
        </thead>

        <tbody>

            <% for (let vacaciones1 of vacaciones) { %>
          <tr>
            <td><center><%=vacaciones1.nombres_empleados%> <%=vacaciones1.apellido_paterno%> <%=vacaciones1.apellido_materno%></center></td>
            <td><center><%=vacaciones1.nombre_area%></center></td>
            <td><center><%= vacaciones1.responsable_ausencia %></center></td>
            <td><center><%= vacaciones1.dias_solicitados %></center></td>
            <td>
              <center>
                <span
                  class="hovertext"
                  data-hover="
              Folio: <%= vacaciones1.folio %>
              No. Empleado: <%= vacaciones1.no_empleado %>
              Fecha inicial: <%= vacaciones1.fecha_primer_dia %>
              Fecha final: <%= vacaciones1.fecha_ultimo_dia %>
              Fecha de solicitud: <%= vacaciones1.fecha_solicitud %>"
                >
                  Vacaciones
                </span>
              </center>
            </td>
            <td><center><%= vacaciones1.estatus_vacaciones %></center></td>
            <% if (userRol == 1 || userRol == 3) {%>
            <td>
              <% if (vacaciones1.estatus_vacaciones === "Pendiente") { %>
              <center>
                <form action="/dlc/a_vacacionesp/<%=current%>/aprovee" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                  <input type="hidden" id="dias_solicitados" name="dias_solicitados" value="<%= vacaciones1.dias_solicitados %>"/>
                  <input type="hidden" id="folio" name="folio" value="<%= vacaciones1.folio %>"/>
                  <input type="hidden" id="no_empleado" name="no_empleado" value="<%= vacaciones1.no_empleado %>"/>
                  <input type="submit" value="Aprobar" class="btn btn-success"/>
                </form>
              </center>
              <% } %>
            </td>
            <% } %>
            <% if (userRol == 1 || userRol == 3) {%>
            <td>
              <% if (vacaciones1.estatus_vacaciones === "Pendiente") { %>
              <center>
                <form action="/dlc/a_vacacionesp/<%=current%>/reject" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                  <input type="hidden" id="folio" name="folio" value="<%= vacaciones1.folio %>"/>
                  <input type="submit" value="Rechazar" class="btn btn-danger"/>
                </form>
              </center>
              <% } %>
            </td>
            <% } %>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
      <h1>No hay solicitudes de vacaciones pendientes.</h1>
      <% } %>


      <% if (pages > 0) { %>
      <nav aria-label="Paginación solicitudes">
        <ul class="pagination justify-content-center">
          <% if (current == 1) { %>

          <% } else {%>
          <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if (i !== 1) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
          <% if (i == current) { %>
          <li class="page-item active"><a class="page-link"><%= i %></a></li>
          <% } else { %>
          <li><a class="page-link" href="<%=i%>"><%=i%></a></li>
          <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %> <% } %>
          <% } %>
          <a id="regresar" href="/dlc/a_vacacionesp/1">
          <button type="button" class="btn btn-dark" onclick="">Regresar</button>
          </a>
          </ul>
      </nav>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#departamento1').on('change', function getDeparatamento() {
    var departamento = this.value;
    document.getElementById("departamento1").value = departamento;

    var href = `/dlc/a_vacacionesp_filtro/departamento/${departamento}/page/1`;
    $('#filtro').attr('href', href);
  });
</script>

<%- include('includes/foot.ejs') %>
