<%- include('includes/head.ejs') %>
<%- include('includes/topbar.ejs') %>
<%- include('includes/sidebar.ejs') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="col py-3">
  <div class="jumbotron jumbotron-fluid" >
    <div class="container">
      <% if (success.length != 0) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>(っ◔◡◔)っ ❤ </strong> <%= success %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>
        <% if (error.length != 0) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>┻━┻ ︵ヽ(`▭´)ﾉ︵﻿ ┻━┻   </strong> <%= error %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>

      <h1 class="display-4">Aprobar NG Blocks</h1> <br>
      <div class="row form-group">

      <% if (userRol == 1 || userRol == 2 ) {%>
        <label for="estatus_ng_block"><b>Filtrar por Departamento</b></label>
        <div class="col-sm-3">
          <select name="departamento2" id="departamento2" class="form-select" aria-label="Default select example" required>
            <option value="" disabled selected>Departamento</option>
            <% for (let area1 of area) { %>
              <option value="<%=area1.id_area%>"><%=area1.nombre_area%></option>
            <% } %>
          </select><br>
      </div>

        <div class="col-sm-3">
          <a id="filtro2" href="/dlc/a_ng_blocksp/1">
          <button type="button" class="btn btn-light" style="background-color:#888B8D">Filtrar</button>
          </a>
        </div>

        <div class="input-group rounded col-sm-5">
          <input type="text" name="search_ngblock" id="search_ngblock" class="form-control rounded" placeholder="Buscar Solicitudes Anteriores" aria-label="Buscar Solicitudes Anteriores" aria-describedby="search-addon"/>
          <span class="input-group-text border-0" id="search-addon">
            <i class="bi bi-search"></i>
          </span>
        </div>
      <% } %>
    </div>



      <div id="respuesta_ajax">
        <% if (ng_block.length > 0) { %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><center>Nombre</center></th>
            <th scope="col"><center>Fecha de uso</center></th>
            <th scope="col"><center>Fecha en la que se solicitó</center></th>
            <th scope="col"><center>Descripción</center></th>
            <th scope="col"><center>Turno</center></th>
            <th scope="col"><center>Estatus actual</center></th>
            <% if (userRol == 1) {%>
            <th scope="col"><center>Departamento</center></th>
            <% } %>
            <% if (userRol == 1 || userRol == 3) {%>
            <th scope="col"><center></center></th>
            <th scope="col"><center></center></th>
            <% } %>
          </tr>
        </thead>

        <tbody>

        <% for (let ng_block1 of ng_block) { %>
          <tr>
            <td><center><%=ng_block1.nombres_empleados%> <%=ng_block1.apellido_paterno%> <%=ng_block1.apellido_materno%></center></td>
            <td><center><%= ng_block1.fecha_uso_ng_block %></center></td>
            <td><center><%= ng_block1.fecha_solicitud_ng_block %></center></td>
            <td><center><%= ng_block1.descripcion_ng_block %></center></td>
            <td><center><%= ng_block1.turno_ng_block %></center></td>
            <td><center><%= ng_block1.estatus_ng_block %></center></td>
            <% if (userRol == 1) {%>
            <td><center><%= ng_block1.nombre_area %></center></td>
            <% } %>

            <% if (userRol == 1 || userRol == 3) {%>
            <td>
              <% if (ng_block1.estatus_ng_block === "Pendiente") { %>
              <center>
                <form action="/dlc/a_ng_blocksp/<%=current%>/aprovee" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                  <input type="hidden" id="id_ng_block" name="id_ng_block" value="<%= ng_block1.id_ng_block %>"/>
                  <input type="hidden" id="no_empleado" name="no_empleado" value="<%= ng_block1.no_empleado %>"/>
                  <input type="submit" value="Aprobar" class="btn btn-primary" style="background-color:#43B02A"/>
                </form>
              </center>
              <% } %>
            </td>
            <% } %>
            <% if (userRol == 1 || userRol == 3) {%>
            <td>
              <% if (ng_block1.estatus_ng_block === "Pendiente") { %>
              <center>
                <form action="/dlc/a_ng_blocksp/<%=current%>/reject" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                  <input type="hidden" id="id_ng_block" name="id_ng_block" value="<%= ng_block1.id_ng_block %>"/>
                  <input type="submit" value="Rechazar" class="btn btn-primary" style="background-color: #b8293d"/>
                </form>
              </center>
              <% } %>
            </td>
            <% } %>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
      <h1>No hay solicitudes de ng blocks pendientes.</h1>
      <% } %>
      <br>
      <br>

      <% if (pages > 0) { %>
      <nav aria-label="Paginación solicitudes">
        <ul class="pagination justify-content-center">
          <% if (current == 1) { %>

          <% } else { %>
          <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if (i !== 1) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
          <% if (i == current) { %>
          <li class="page-item active"><a class="page-link"><%= i %></a></li>
          <% } else { %>
          <li><a class="page-link" href="<%=i%>"><%=i%></a></li>
          <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %> <% } %>
          <% } %>
          <a id="regresar" href="/dlc/a_ng_blocksp/1">
          <button type="button" class="btn btn-primary" style="background-color:#0a0a23" onclick="">Regresar</button>
          </a>
          </ul>
      </nav>
      </div>
    </div>
  </div>
</div>

<script>
  const accion_asincrona = () => {
      const n_estatus = document.getElementById('search_ngblock').value;
      console.log(n_estatus);

      //El token de protección CSRF
      //const csrf = document.getElementById('_csrf').value;

      //función que manda la petición asíncrona
      fetch('/dlc/a_ng_blocksp/:page/filtrar/'+n_estatus, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json',
              //'csrf-token': csrf
          }
          //body: JSON.stringify(data)
      }).then(result => {
          return result.json(); //Regresa otra promesa
      }).then(data => {
          //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
          console.log(data);
          let respuesta =
          '<table class="table">' +
            '<thead>' +
              '<tr>' +
                '<th scope="col"><center>Nombre</center></th>' +
                '<th scope="col"><center>Fecha de uso</center></th>' +
                '<th scope="col"><center>Fecha en la que se solicitó</center></th>' +
                '<th scope="col"><center>Descripción</center></th>' +
                '<th scope="col"><center>Turno</center></th>' +
                '<th scope="col"><center>Estatus actual</center></th>' +
              '</tr>' +
            '</thead>' +
            '<tbody>';
          for(let ng_block of data) {
              respuesta +=
                '<tr>' +
                '<td><center>' + ng_block.nombres_empleados + ' ' + ng_block.apellido_paterno + ' ' + ng_block.apellido_materno + '</center></td>' +
                '<td><center>' + ng_block.fecha_uso_ng_block + '</center></td>' +
                '<td><center>' + ng_block.fecha_solicitud_ng_block + '</center></td>' +
                '<td><center>' + ng_block.descripcion_ng_block + '</center></td>' +
                '<td><center>' + ng_block.turno_ng_block + '</center></td>' +
                '<td><center>' + ng_block.estatus_ng_block + '</center></td>' +
                '<tr>';
          }
          respuesta += '</tbody>' +
              '</table>' +
              '<a href="/dlc/a_ng_blocksp/1">' +
                '<button id="boton1" class="btn btn-primary" onclick="" style="background-color:#0a0a23" href="/dlc/solicitar_ng_block">Regresar</button>';
          document.getElementById('respuesta_ajax').innerHTML = respuesta;

      }).catch(err => {
          console.log(err);
      });
  };
  document.getElementById('search_ngblock').onkeyup  = accion_asincrona;
</script>

<script type="text/javascript">
  $('#departamento2').on('change', function getDeparatamento() {
    var departamento = this.value;
    document.getElementById("departamento2").value = departamento;
    console.log(departamento);

    var href = `/dlc/a_ng_blocksp_filtro/departamento/${departamento}/page/1`;
    console.log(href);
    $('#filtro2').attr('href', href);
  });
</script>

<%- include('includes/foot.ejs') %>
