<%- include('includes/head.ejs') %>
<%- include('includes/topbar.ejs') %>
<%- include('includes/sidebar.ejs') %>
<div class="col py-3">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">

      <div class="input-group rounded col-sm-6">
        <input type="text" name="search_vacaciones" id="search_vacaciones" class="form-control rounded" placeholder="Buscar Empleados" aria-label="Buscar Solicitudes Anteriores" aria-describedby="search-addon"/>
        <span class="input-group-text border-0" id="search-addon">
          <i class="bi bi-search"></i>
        </span>
      </div> <br><br>
      <div class="card-columns">
      <% if (empleado.length > 0) { %>
        <% for (let empleado1 of empleado) { %>

        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header"><center><%=empleado1.nombres_empleados%> <%=empleado1.apellido_paterno%> <%=empleado1.apellido_materno%></center></div>
          <div class="card-body">
            <p class="card-text"><center><b>Número de empleado: </b><%=empleado1.no_empleado%></center></p>
            <p class="card-text"><center><b>Departamento: </b><%=empleado1.nombre_area%></center></p>
            <p class="card-text"><center><b>Correo empresarial: </b><%=empleado1.correo_empresarial%></center></p>
            <center><button type="button" class="btn btn-light">Ver perfil</button></center>
          </div>
        </div>

        <% } %>
      <% } %>

      </div>
    </div>
  </div>
</div>


<%- include('includes/foot.ejs') %>
