<%- include('includes/head.ejs') %>
<%- include('includes/topbar.ejs') %>
<%-include('includes/sidebar.ejs') %>
<div class="col py-3">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1><center>Modificar dias de vacaciones por Año </center></h1>
			<form action="#" method="post">
				<table id="vacaciones_totalesbl" class="table">
					<tr>
						<th>De:<center> Año laboral</center></th>
						<th>Hasta:<center> Año laboral</center></th>
						<th><center>Días de vacaciones</center></th>
					</tr>
					<% for (let prestaciones1 of prestaciones) { %>
						<tr>
							<td id="col<%=prestaciones1.id_prestaciones%>"><input type="text" name="a" value="<%=prestaciones1.min_prestaciones%>" class="form-control"/></td>
							<td id="col<%=prestaciones1.id_prestaciones%>"><input type="text" name="a" value="<%=prestaciones1.max_prestaciones%>" class="form-control"/></td>
							<td id="col<%=prestaciones1.id_prestaciones%>"><input type="text" name="a" value="<%=prestaciones1.dias_prestaciones%>" class="form-control"/></td>
						</tr>
					<% } %>
				</table>
						<div style="text-align: right;">
							<input type="submit" value="Guardar cambios" class="btn btn-primary"/>
						</div>
			 </form>
			 	<input type="button" value="Añadir fila" onclick="addRows()" class="btn btn-primary" style="background-color: #86b049"/>
				<input type="button" value="Eliminar fila" onclick="deleteRows()" class="btn btn-primary" style="background-color: #b8293d"/>
    </div>
  </div>
</div>

<script src="/js/add_delete_row.js"></script>


<%- include('includes/foot.ejs') %>
