<%- include('includes/head.ejs') %>
<%- include('includes/topbar.ejs') %>
<%-include('includes/sidebar.ejs') %>
<div class="col py-3">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <% if (success.length != 0) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>(っ◔◡◔)っ ❤ </strong> <%= success %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>
        <% if (error.length != 0) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>┻━┻ ︵ヽ(`▭´)ﾉ︵﻿ ┻━┻  </strong> <%= error %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>
      <h1><center>Modificar dias de vacaciones por Año </center></h1>

				<table id="vacaciones_totalesbl" class="table">
					<tr>
						<th>De:<center> Año laboral</center></th>
						<th>Hasta:<center> Año laboral</center></th>
						<th> <br> <center>Días de vacaciones</center></th>
            <% if (userRol == 1) {%>
            <th></th>
            <th></th>
            <% } %>
					</tr>
					<% for (let prestaciones1 of prestaciones) { %>
						<tr>
              <% if (userRol != 1) {%>
                <td id="col0"><input type="number" name="min_prestaciones" id="min_prestaciones" value="<%=prestaciones1.min_prestaciones%>" autocomplete="off" class="form-control" disabled/></td>
  							<td id="col1"><input type="number" name="max_prestaciones" id="max_prestaciones" value="<%=prestaciones1.max_prestaciones%>" autocomplete="off" class="form-control" disabled/></td>
  							<td id="col2"><input type="number" name="dias_prestaciones" id="dias_prestaciones" value="<%=prestaciones1.dias_prestaciones%>" autocomplete="off" class="form-control" disabled/></td>
              <% } %>

              <% if (userRol == 1) {%>
              <form action="/dlc/vacaciones_totales/<%=prestaciones1.id_prestaciones%>" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                <input type="hidden" name="id_prestaciones" id="id_prestaciones" value="<%=prestaciones1.id_prestaciones%>" class="form-control"/>
							<td id="col0"><input type="number" name="min_prestaciones" id="min_prestaciones" value="<%=prestaciones1.min_prestaciones%>" autocomplete="off" class="form-control"/></td>
							<td id="col1"><input type="number" name="max_prestaciones" id="max_prestaciones" value="<%=prestaciones1.max_prestaciones%>" autocomplete="off" class="form-control"/></td>
							<td id="col2"><input type="number" name="dias_prestaciones" id="dias_prestaciones" value="<%=prestaciones1.dias_prestaciones%>" autocomplete="off" class="form-control"/></td>
              <% } %>

              <% if (userRol == 1) {%>
              <td id="col3"><input type="submit" value="Guardar cambios" class="btn btn-primary" style="background-color:#007DBA"/></td>
              </form>
              <% } %>

              <% if (userRol == 1) {%>
              <td id="col4">
                <form action="/dlc/vacaciones_totales/delete/<%= prestaciones1.id_prestaciones %>" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                  <input type="hidden" id="id_prestaciones" name="id_prestaciones" value="<%= prestaciones1.id_prestaciones %>"/>
                  <div style="text-align: right;">
                    <button class="btn btn-danger btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></button>
                  </div>
                </form>
              </td>
              <% } %>
						</tr>
					<% } %>
				</table>
        <% if (userRol == 1) {%>
						<div style="text-align: right;">
						</div>
            <div>
              <br>
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal0" data-whatever="@mdo" >Añadir fila</button>
                <div class="modal fade" id="exampleModal0" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel0" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel0">Agregar fila a las prestaciones</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <div class="form-group" style="text-align: left;"">
                            <form action="/dlc/vacaciones_totales/add/aaaaaaa" method="POST">
                              <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                              <label for="min_prestaciones" class="col-form-label">De Año laboral:</label>
                              <input type="number" class="form-control" id="min_prestaciones" name="min_prestaciones" autocomplete="off" required><br>
                              <label for="max_prestaciones" class="col-form-label">Hasta Año laboral:</label>
                              <input type="number" class="form-control" id="max_prestaciones" name="max_prestaciones" autocomplete="off" required><br>
                              <label for="dias_prestaciones" class="col-form-label">Días de vacaciones:</label>
                              <input type="number" class="form-control" id="dias_prestaciones" name="dias_prestaciones" autocomplete="off" required><br>
                              <input type="submit" value="Enviar" class="btn btn-primary">
                            </form>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <% } %>
    </div>
  </div>
</div>

<script src="/js/add_delete_row.js"></script>


<%- include('includes/foot.ejs') %>
