<%- include('includes/head.ejs') %>
<%- include('includes/topbar.ejs') %>
<%- include('includes/sidebar.ejs') %>
<body>
  <div class="col py-3">
    <div height class="container">
      <% if (success.length != 0) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>(っ◔◡◔)っ ❤ </strong> <%= success %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>
        <% if (error.length != 0) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>┻━┻ ︵ヽ(`▭´)ﾉ︵﻿ ┻━┻   </strong> <%= error %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>
      <h1 class="display-4"><center>Solicitudes de NG Blocks</center></h1>
      <br>
      <% if (ng_block.length == 0) { %>
        <h2 class="display-4"><center>No has solicitado NG Blocks</center></h2>
      <% } %>

    <div class="card-columns">

      <% if (ng_block.length > 0) { %>
        <% for (let ng_block1 of ng_block) { %>
          <% if (ng_block1.estatus_ng_block === "Pendiente") { %>
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
              <form action="/dlc/profile/ngblocks_solicitados/delete/<%= ng_block1.id_ng_block %>" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                <input type="hidden" id="id_ng_block" name="id_ng_block" value="<%= ng_block1.id_ng_block %>"/>
                <div style="text-align: right;">
                  <button class="btn btn-danger btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></button>
                </div>
              </form>
          <% } else if (ng_block1.estatus_ng_block === "Aprobado") { %>
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;" style="background-color:#43B02A">
          <% } else if (ng_block1.estatus_ng_block === 'Rechazado') { %>
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
          <% } else { %>
            <div class="card">
          <% } %>
            <div class="card-header"><%=  ng_block1.estatus_ng_block %></div>
            <div class="card-body">
              <p class="card-text"><b>Fecha de uso: </b><%= ng_block1.fecha_uso_ng_block%></p>
              <p class="card-text"><b>Descripción: </b><%= ng_block1.descripcion_ng_block %></p>
              <p class="card-text"><b>Fecha en la que se solicitó: </b><%= ng_block1.fecha_solicitud_ng_block %></p>
              <p class="card-text"><b>Estatus de la solicitud: </b><%= ng_block1.estatus_ng_block %></p>
            </div>
            </div>
          </div<br><br>
        <% } %>
      <% } %>
    </div>
    <% if (pages > 0) { %>
    <nav aria-label="Paginación solicitudes">
      <ul class="pagination justify-content-center">
        <% if (current == 1) { %>
        <li class="page-item disabled">
          <a class="page-link">Primero</a>
          </li>
        <% } else { %>
        <li class="page-item"><a class ="page-link" href="/dlc/profile/ngblocks_solicitados/1">Primero</a></li>
        <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
        <li class="page-item active"><a class="page-link"><%= i %></a></li>
        <% } else { %>
        <li><a class="page-link" href="<%=i%>"><%=i%></a></li>
        <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %> <% } %> <% if (current == pages) { %>
        <li class="page-item disabled"><a class="page-link">Último</a></li>
        <% } else { %>
        <li><a class="page-link" href="/dlc/profile/ngblocks_solicitados/<%= pages %>">Último</a></li>
        <% } %>
        <% } %>
        </ul>
    </nav>
  </div>
</div>
</body>

<%- include('includes/foot.ejs') %>
