<%- include('includes/head.ejs') %>
    <%- include('includes/topbar.ejs') %>
        <%- include('includes/sidebar.ejs') %>

            <body>
<<<<<<< HEAD
              <div class="col py-3">
                <div height class="container">
                  <h1 class="display-4"><center>Reportes Mensuales</center></h1>
                  <br><br>

                  <!--Dropdown menu -->
                  <div class="col-sm-4">
                    <div class="input-group date" id="datepicker">
                        <input type="text" id="fecha_uso_ng_block" name="fecha_uso_ng_block" class="form-control" autocomplete="off" placeholder="DD-MM-YYYY">
                        <span class="input-group-append">
                            <span class="input-group-text bg-white">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                    </div>
                </div>
                <br><br>
                <!--Dropdown menu -->

                <div class="card-columns">

                  <% if (nps.length > 0) { %>
                    <% for (let nps1 of nps) { %>
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"><%= nps1.titulo_reporte_mensual %></h5>
                          <p class="card-text"><%= nps1.descripcion_reporte_mensual %></p>
                          <!--Chart -->
                            <div class="col py-3">
                              <div height class="container">
                                <canvas id="npsPIE"></canvas>
                              </div>
                            </div>
                          <!--Chart -->
                          <p class="card-text"><b><center>Total: 7</center></b></p>
                          </div>
                        </div>
                      <% } %>
                    <% } %>
                </div><br><br>

                <!--Agregar Reporte Mensual -->
                  <div style="text-align: right;">
                    <br>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal00" data-whatever="@mdo">Agregar Reporte Mensual</button>
                      <div class="modal fade" id="exampleModal00" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel00" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel0">Agregar Imagen al Banner</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <!--Form -->
                              <form action="/dlc/nps" method="POST">
                                <div class="form-group" style="text-align: left;"">
                                  <!--Valor Temporal -->
                                  <input type="hidden" id="id_reporte_mensual" name="id_reporte_mensual" value="20">
                                  <!--Valor Temporal -->

                                  <label for="titulo_reporte_mensual" class="col-form-label">Titulo del Reporte:</label>
                                  <input type="text" class="form-control" id="titulo_reporte_mensual" name="titulo_reporte_mensual">

                                  <label for="fecha_reporte_mensual" class="col-form-label">Mes del Reporte:</label>
                                  <!--Datepicker -->
                                  <div class="input-group date" id="datepicker">
                                      <input type="text" id="fecha_uso_ng_block" name="fecha_uso_ng_block" class="form-control" autocomplete="off" placeholder="DD-MM-YYYY">
                                      <span class="input-group-append">
                                          <span class="input-group-text bg-white">
                                              <i class="fa fa-calendar"></i>
                                          </span>
                                      </span>
                                  </div>
                                  <!--Datepicker -->

                                  <label for="descripcion_reporte_mensual" class="col-form-label">Descripción del Reporte:</label>
                                  <input type="text" class="form-control" id="descripcion_reporte_mensual" name="descripcion_reporte_mensual">

                                  <label for="detractores" class="col-form-label">Detractores:</label>
                                  <input type="text" class="form-control" id="detractores" name="detractores">

                                  <label for="promotores" class="col-form-label">Promotores:</label>
                                  <input type="text" class="form-control" id="promotores" name="promotores">

                                  <label for="pasivos" class="col-form-label">Pasivos:</label>
                                  <input type="text" class="form-control" id="pasivos" name="pasivos">

                                  <input type="hidden" id="id_imagen_noticia" name="id_imagen_noticia" value="386363">
                                  <br>
                                  <input type="submit" value="Enviar" class="btn btn-primary">
                              </form>
                              <!--Form -->
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>

            </div>



                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

=======
                <div class="col py-3">
                    <div height class="container">
                        <canvas id="npsPIE"></canvas>
                    </div>
                </div>
>>>>>>> 7ff8f3e6dd97f1cce6954e2db2841355aedf69d0

                <script>
                    // Este utiliza datos ejemplo por el momento
                    const data1 = {
                        labels: ['Detractores', 'Promotores', 'Pasivos'],
                        datasets: [{
                            label: '# of Votes',
                            data: [12, 19, 3],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)', //red
                                'rgba(54, 162, 235, 0.2)', //blue
                                'rgba(75, 192, 192, 0.2)', //green
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(75, 192, 192, 1)',
                            ],
                            borderWidth: 1
                        }]
                    }
<<<<<<< HEAD
=======

>>>>>>> 7ff8f3e6dd97f1cce6954e2db2841355aedf69d0
                    const options1 = {
                        maintainAspectRatio: false,
                        responsive: true,
                        scales: {
                            yAxes: [{
                                stacked: true,
                            }],
                            xAxes: [{
                                gridLines: {
                                    display: false
                                }
                            }]
                        }
                    };
                </script>

                <script>
                    const myChart = new Chart('npsPIE', {
                        type: 'doughnut',
                        options: options1,
                        data: data1
                    });
                </script>
<<<<<<< HEAD
            </body>
<%- include('includes/foot.ejs') %>
=======

            </body>
            <%- include('includes/foot.ejs') %>
>>>>>>> 7ff8f3e6dd97f1cce6954e2db2841355aedf69d0
