<%- include('includes/head.ejs') %>
<%- include('includes/topbar.ejs') %>
<%- include('includes/sidebar.ejs') %>
<div class="col py-3">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <% for (let empleado1 of empleado) { %>
      <div class="container bootstrap snippet">
        <div class="row">
      		<div class="col-sm-9"><h1>Mi Perfil</h1></div>
        </div>
        <div class="row">
      		<div class="col-sm-3">
            <div class="text-center">
              <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
            </div><br>
          </div>
        	<div class="col-sm-6">
              <div class="tab-content">
                <div class="tab-pane active" id="home">
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="nombre"><h4>Nombre(s)</h4></label>
                              <input type="text" class="form-control" name="nombre" id="nombre" value="<%= empleado1.nombres_empleados %>" disabled>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                            <label for="apellidoP"><h4>Apellidos</h4></label>
                              <input type="text" class="form-control" name="apellidoP" id="apellidoP" value="<%= empleado1.apellido_paterno %> <%= empleado1.apellido_materno %>" disabled>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="tab-content">
                <div class="tab-pane active" id="home">
                  <div class="form-group">
                    <div class="col-xs-6">
                      <br>
                      <br>
                      <br>
                        <label for="no_empleado"><h4>No. Empleado</h4></label>
                        <input type="text" class="form-control" name="no_empleado" id="no_empleado" value="<%= empleado1.no_empleado %>" disabled>
                    </div>
                  </div>
                  <div class="form-group">
                      <div class="col-xs-6">
                        <br>
                        <br>
                        <br>
                          <label for="email"><h4>Correo electrónico</h4></label>
                          <input type="email" class="form-control" name="email" id="email" value="<%= empleado1.correo_empresarial %>" disabled>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-xs-6">
                        <br>
                        <br>
                        <br>
                          <label for="vacacionesR"><h4>Días de vacaciones restantes</h4></label>
                          <input type="text" class="form-control" name="vacacionesR" id="vacacionesR" value="<%= empleado1.dias_vacaciones_restantes %>" disabled>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="tab-content">
                <div class="tab-pane active" id="home">
                  <div class="form-group">
                    <div class="col-xs-6">
                      <br>
                      <br>
                      <br>
                        <label for="no_empleado"><h4>Fecha de Nacimiento</h4></label>
                        <input type="text" class="form-control" name="no_empleado" id="no_empleado" value="<%= empleado1.fecha_nacimiento %>" disabled>
                    </div>
                  </div>
                  <div class="form-group">
                      <div class="col-xs-6">
                        <br>
                        <br>
                        <br>
                          <label for="email"><h4>Departamento</h4></label>
                          <input type="email" class="form-control" name="email" id="email" value="<%= empleado1.nombre_area %>" disabled>
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-6">
                      <br>
                      <br>
                      <br>
                        <label for="ng_blockR"><h4>Ng blocks restantes</h4></label>
                        <input type="text" class="form-control" name="ng_blockR" id="ng_blockR" value="<%= empleado1.ng_blocks_restantes %>" disabled>

                    </div>
                  </div>
                </div>
              </div>
              <br><br>
            </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a href="/dlc/profile/ngblocks_solicitados">
                <button id="boton1" class="btn btn-primary" href="/dlc/d_usuario/ngblocks_solicitados">Ver solicitudes NG Blocks</button>
              </a>
              <a href="/dlc/profile/vacaciones_solicitadas">
                <button id="boton1" class="btn btn-primary" href="/dlc/d_usuario/vacaciones_solicitadas">Ver solicitudes de Vacaciones</button>
              </a>
          </div>
          <br>

          <form action="/dlc/buscar_empleado/:no_empleado/vacaciones" method="POST">
            <label for="giveVacations">Agregar dias de vacaciones: </label>
            <input type="number" id="giveVacations" name="giveVacations" min="1" max="5" class="btn btn-light" s placeholder="0" required>
            <input type="hidden" id="no_empleado" name="no_empleado" value="<%= empleado1.no_empleado %>">
            <input type="submit" class="btn btn-primary">
          </form>

          <br>
          <form action="/dlc/buscar_empleado/:no_empleado/ng_blocks" method="POST">
            <label for="giveNgBlocks">Agregar Ng Blocks: </label>
            <input type="number" id="giveNgBlocks" name="giveNgBlocks" min="1" max="5" class="btn btn-light" s placeholder="0" required>
            <input type="hidden" id="no_empleado" name="no_empleado" value="<%= empleado1.no_empleado %>">
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
        <% } %>
      </div>
    </div>
  </div>
<%- include('includes/foot.ejs') %>
