<div>
  <section class="container">
  <% if (success1.length != 0) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>(っ◔◡◔)っ ❤ </strong> <%= success1 %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
    <% if (error1.length != 0) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>┻━┻ ︵ヽ(`▭´)ﾉ︵﻿ ┻━┻  </strong> <%= error1 %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
    </section>
<h1 class="display-6">Anuncios</h1>
<div style="text-align: right;">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" data-whatever="@res">Agregar Anuncio</button>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2">Agregar Anuncio</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form action="/dlc/publicacion/?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
              <div class="form-group" style="text-align: left;"">

                <label for="titulo_publicacion" class="col-form-label">Título de la publicación:</label>
                <input type="text" class="form-control" id="titulo_publicacion" name="titulo_publicacion" autocomplete="off" >

                <label for="descripcion_publicacion" class="col-form-label">Descripción de la publicación:</label>
                <input type="text" class="form-control" id="descripcion_publicacion" name="descripcion_publicacion" autocomplete="off" >

                <label for="imagen_publicacion" class="col-form-label">Adjuntar imagen:</label>
                <input type="file" class="form-control" id="imagen_publicacion" name="imagen_publicacion" autocomplete="off" accept="image/png, image/gif, image/jpeg, image/jpg" required><br>

                <input type="submit" value="Enviar" class="btn btn-primary">
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<br>

<div class="row">
  <br>
  <% if (publicacion.length > 0) { %>
    <% for (let publicacion1 of publicacion) { %>
      <% if (publicacion1.imagen_publicacion == '') { %>
        <div class="col-sm-6">
          <br>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= publicacion1.titulo_publicacion %></h5>
              <p class="card-text"><%= publicacion1.descripcion_publicacion %></p>
            </div>
          </div>
        </div>
        <% } else { %>
          <div class="col-sm-6">
            <div class="card mb-3">
              <img class="card-img-top embed-responsive-item" src="<%= publicacion1.imagen_publicacion %>" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><%= publicacion1.titulo_publicacion %></h5>
                  <p class="card-text"><%= publicacion1.descripcion_publicacion %></p>
                </div>
          </div>
        </div>
    <% } %>
  <% } %>
<% } %>

</div>
