<%- include('includes/head.ejs') %>
<%- include('includes/topbar.ejs') %>
<%- include('includes/sidebar.ejs') %>
<body>
  <div class="col py-3">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <section class="container">
          <h3 class="pt-4 pb-2">Registrar Usuario</h3><br>
          <div class="col-sm-7">
            <form action="/dlc/r_usuario" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
              <div class="form-group">

                <label for="nombres_empleado"><b>Nombre(s)</b></label>
                <input type="text" class="form-control" id="nombres_empleado" name="nombres_empleado"  placeholder="Eros Giovanni" autocomplete="off" required/><br>

                <label for="apellido_paterno"><b>Apellido Paterno</b></label>
                <input type="text" class="form-control" id="apellido_paterno" name="apellido_paterno" placeholder="Guillén" autocomplete="off" required/><br>

                <label for="apellido_materno"><b>Apellido Materno</b></label>
                <input type="text" class="form-control" id="apellido_materno" name="apellido_materno" placeholder="Velázquez" autocomplete="off" required/><br>

                <label for="genero_empleado"><b>Sexo</b></label>
                  <select name="genero_empleado" class="form-select" aria-label="Default select example" required>
                    <option value="" disabled selected>Sexo</option>
                    <option value="H">Hombre</option>
                    <option value="M">Mujer</option>
                  </select><br>

                <label for="id_area"><b>Departamento al que pertenece</b></label>
                  <select name="id_area" class="form-select" aria-label="Default select example" required>
                    <option value="" disabled selected>Departamento</option>
                      <% for (let area1 of area) { %>
                    <option value="<%=area1.id_area%>"><%=area1.nombre_area%></option>
                      <% } %>
                  </select><br>

                <label for="no_empleado"><b>Número de empleado</b></label>
                <input type="text" class="form-control" id="no_empleado" name="no_empleado" aria-describedby="emailHelp" placeholder="A01705090" autocomplete="off" required><br>

                <label for="correo_empresarial"><b>Correo Empresarial</b></label>
                <input type="email" class="form-control" id="correo_empresarial" name="correo_empresarial" aria-describedby="emailHelp" placeholder="A01703067@natgas.com.mx" autocomplete="off" required><br><br>



                <div class="row form-group">
                      <label for="fecha_nacimiento" class="col-sm-5 col-form-label"><b>Fecha de Nacimiento</b></label>
                      <div class="col-sm-7">
                          <div class="input-group date" id="datepicker">
                              <input type="text" id="fecha_n" name="fecha_n" class="form-control" autocomplete="off" placeholder="YYYY-MM-DD" required>
                              <span class="input-group-append">
                                  <span class="input-group-text bg-white">
                                      <i class="fa fa-calendar"></i>
                                  </span>
                              </span>
                          </div>
                      </div>
                  </div><br>

                  <div class="row form-group">
                        <label for="fecha_contratacion" class="col-sm-5 col-form-label"><b>Fecha de contratación</b></label>
                        <div class="col-sm-7">
                            <div class="input-group date" id="datepicker">
                                <input type="text" id="fecha_c" name="fecha_c" class="form-control" autocomplete="off" placeholder="YYYY-MM-DD" required>
                                <span class="input-group-append">
                                    <span class="input-group-text bg-white">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div><br>

                    <!-- PRUEBA SE VA A BORRAR -->
                    <input type="hidden" id="fecha_nacimiento" name="fecha_nacimiento">
                    <input type="hidden" id="fecha_contratacion" name="fecha_contratacion">
                    <input type="hidden" id="ng_blocks_restantes" name="ng_blocks_restantes" value="5">
                    <input type="hidden" id="dias_vacaciones_restantes" name="dias_vacaciones_restantes" value="8">
                    <!-- PRUEBA SE VA A BORRAR -->
              </div>
              <input type="submit" value="Enviar" class="btn btn-primary">
              </form>
              <br>
              <div style="text-align: right;">
                <a href="/dlc/r_usuario">
                  <button id="boton1" class="btn btn-primary" onclick="" style="background-color:#0a0a23"
                    href="/dlc/r_usuario">Cancelar Solicitud</button>
                </a>
              </div>
        </div>
      </div>
    </div>
  </div>
</body>

<%- include('includes/foot.ejs') %>
