<%- include('includes/head.ejs') %>
    <%- include('includes/topbar.ejs') %>
        <%- include('includes/sidebar.ejs') %>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
              <div class="col py-3">
                <div height class="container">
                  <section class="container">
                  <% if (success.length != 0) { %>
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>(っ◔◡◔)っ ❤ </strong> <%= success %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <% } %>
                    <% if (error.length != 0) { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>┻━┻ ︵ヽ(`▭´)ﾉ︵﻿ ┻━┻  </strong> <%= error %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <% } %>
                    </section>
                  <h1 class="display-4"><center>Reportes Mensuales</center></h1>
                  <br><br>
                  <!--Dropdown menu -->
                    <div class="tab-content">
                      Filtrar por Mes:
                      <div class="row form-group">
                        <div class="col-sm-3">

                          <div class="input-group date" id="datepicker">
                              <input type="text" id="search_d" name="search_d" class="form-control" autocomplete="off" placeholder="YYYY-MM-DD">
                              <input type="hidden" id="search_date" name="search_date">
                              <span class="input-group-append">
                                  <span class="input-group-text bg-white">
                                      <i class="fa fa-calendar"></i>
                                  </span>
                              </span>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <a id="filtro2" href="/reporte_mensual">
                            <button type="button" class="btn btn-light" style="background-color:#888B8D">Filtrar</button>
                          </a>
                        </div>

                        <% if (userRol == 1 || userRol == 2 ) {%>
                          <div class="col-sm-3">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal00" data-whatever="@mdo" style="background-color:#43B02A">Agregar Reporte Mensual</button>
                          </div>

                          <div class="col-sm-2">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal113" data-whatever="@mdo" style="background-color:#43B02A">Generar Reporte</button>
                          </div>
                        <% } %>
                        </div>
                          <div class="modal fade" id="exampleModal113" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel113" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel113">Generar Reporte</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">

                                    <div class="form-group" style="text-align: left;"">

                                      <label for="titulo_publicacion" class="col-form-label">Título del reporte:</label>
                                      <input type="text" class="form-control" id="titulo_publicacion" name="titulo_publicacion" autocomplete="off" required>

                                      <br>
                                      <label for="titulo_publicacion" class="col-form-label">Tipo:</label>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="Mensual" id="Mensual" value="radio1"/>
                                        <label class="form-check-label" for="exampleRadios3">
                                          Mensual
                                        </label>
                                        <div class="input-group date" id="datepicker">
                                            <input type="text" id="mensual" name="for_radio1[]" class="radio1" autocomplete="off" placeholder="YYYY-MM" disabled="true">
                                            <span class="input-group-append">
                                                <span class="input-group-text bg-white">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </span>
                                        </div>
                                      </div>

                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="Mensual" id="Semestral" value="radio2" />
                                        <label class="form-check-label" for="exampleRadios3">
                                          Semestral (Probablemente no se implemente)
                                        </label>
                                        <div class="input-group date" id="datepicker">
                                            <input type="text" id="semestral" name="for_radio2[]" class="radio2" autocomplete="off" placeholder="YYYY-MM" disabled="true">
                                            <span class="input-group-append">
                                                <span class="input-group-text bg-white">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </span>
                                        </div>
                                      </div>
                                      <div class="form-check disabled">
                                        <input class="form-check-input" type="radio" name="Mensual" id="Anual" value="radio3" />
                                        <label class="form-check-label" for="exampleRadios3">
                                          Anual
                                        </label>
                                        <div class="input-group date" id="datepicker">
                                            <input type="text" id="anual" name="for_radio3[]" class="radio3" autocomplete="off" placeholder="YYYY" disabled="true">
                                            <span class="input-group-append">
                                                <span class="input-group-text bg-white">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </span>
                                        </div>
                                      </div>
                                      </div>
                                      </div>

                                </div>
                                <div class="modal-footer">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                <br><br>
                <!--Dropdown menu -->

                <% if (reportes_mensuales.length > 0) { %>
                  <% for (let reportes_mensuales1 of reportes_mensuales) { %>
                    <div class="card mb-3">
                      <img class="card-img-top embed-responsive-item" src="<%= reportes_mensuales1.imagen_reporte %>" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title"><%= reportes_mensuales1.titulo_reporte_mensual %></h5>
                          <p class="card-text"><%= reportes_mensuales1.descripcion_reporte_mensual %></p>
                          <% if (userRol == 1 || userRol == 2 ) {%>
                            <form action="/reporte_mensual/delete/<%= reportes_mensuales1.id_reportes_mensuales %>" method="POST">
                              <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                              <input type="hidden" id="id_reportes_mensuales" name="id_reportes_mensuales" value="<%= reportes_mensuales1.id_reportes_mensuales %>"/>
                              <div style="text-align: right;">
                                <button class="btn btn-danger btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></button>
                              </div>
                            </form>
                          <% } %>
                        </div>
                  </div>
                <% } %>
              <% } else { %>
                <div class="container">
                  <h1>No hay Reportes Mensuales de este mes.</h1>
                </div>
              <% } %>
                <br><br>

                <div style="text-align: center;">
                <!--Agregar Reporte Mensual -->
                      <div class="modal fade" id="exampleModal00" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel00" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel00">Agregar Reporte</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <!--Form -->
                              <form action="/reporte_mensual/post/?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                                <div class="form-group" style="text-align: left;"">
                                  <label for="titulo_reporte_mensual" class="col-form-label">Titulo del Reporte:</label>
                                  <input type="text" class="form-control" id="titulo_reporte_mensual" name="titulo_reporte_mensual" autocomplete="off" required>

                                  <label for="fecha_reporte_mensual" class="col-form-label">Mes del Reporte:</label>
                                  <!--Datepicker -->
                                  <div class="input-group date" id="monthpicker">
                                      <input type="text" id="fecha_reporte_m" name="fecha_reporte_m" class="form-control" autocomplete="off" placeholder="DD-MM-YYYY" required>
                                      <input type="hidden" id="fecha_reporte_mensual" name="fecha_reporte_mensual">
                                      <span class="input-group-append">
                                          <span class="input-group-text bg-white">
                                              <i class="fa fa-calendar"></i>
                                          </span>
                                      </span>
                                  </div>
                                  <!--Datepicker -->

                                  <label for="descripcion_reporte_mensual" class="col-form-label">Descripción del Reporte:</label>
                                  <input type="text" class="form-control" id="descripcion_reporte_mensual" name="descripcion_reporte_mensual" autocomplete="off" required>

                                  <label for="imagen_reporte" class="col-form-label">Imagen del Reporte Mensual:</label>
                                  <input type="file" class="form-control" id="imagen_reporte" name="imagen_reporte" autocomplete="off" accept="image/png, image/gif, image/jpeg, image/jpg" required>
                                  <br>
                                  <div style="text-align: center;">
                                    <input type="submit" value="Agregar" class="btn btn-primary" style="background-color:#43B02A">
                                  </div>
                              </form>
                              <!--Form -->
                            </div>
                            <div class="modal-footer">
                            </div>
                          </div>
                        </div>
                      </div>

                      <!--Modal Generar Reporte Mensual -->
              </div>
              </div>
              </div>


<script type="text/javascript">
  $(function() {
      $('#search_d').datepicker({
        format: "mm-yyyy",
        orientation: "bottom left",
        startView: "months",
        minViewMode: "months",
        todayHighlight: true,
        autoclose: true
      });
      $('#search_d').on("changeDate", function search () {
        var f1 = $('#search_d').datepicker('getDate');
        console.log(f1)
        document.getElementById("search_date").value = f1.toISOString().split('T')[0];
        var f2 = f1.toISOString().split('-01T')[0];
        console.log(f2);
        var href = `/reporte_mensual/filtrar/${f2}`;
        $('#filtro2').attr('href', href);
      });
  });


  $(document).ready(function(){
  $('input[type=radio][name=Mensual]').click(function(){
      var related_class=$(this).val();
      $('.'+related_class).prop('disabled',false);

      $('input[type=radio][name=Mensual]').not(':checked').each(function(){
          var other_class=$(this).val();
          $('.'+other_class).prop('disabled',true);
      });
  });
  });
  //$('#Semestral').on("change", function search () {
    //document.getElementById('date1').innerHTML = '';

  //});
  //$('#Anual').on("change", function search () {
    //document.getElementById('date1').innerHTML = '';

  //});
</script>


<%- include('includes/foot.ejs') %>
