<%- include('includes/head.ejs') %>
    <%- include('includes/topbar.ejs') %>
        <%- include('includes/sidebar.ejs') %>
              <div class="col py-3">
                <div height class="container">
                  <section class="container">
                  <% if (success.length != 0) { %>
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>(っ◔◡◔)っ ❤ </strong> <%= success %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <% } %>
                    <% if (error.length != 0) { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>┻━┻ ︵ヽ(`▭´)ﾉ︵﻿ ┻━┻  </strong> <%= error %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <% } %>
                    </section>
                  <h1 class="display-4"><center>Reportes Mensuales</center></h1>
                  <br><br>
                  <!--Dropdown menu -->
                    <div class="tab-content">
                      Filtrar por Mes:
                      <div class="input-group date" id="datepicker">
                          <input type="text" id="search_date" name="search_date" class="form-control" autocomplete="off" placeholder="YYYY-MM-DD">
                          <span class="input-group-append">
                              <span class="input-group-text bg-white">
                                  <i class="fa fa-calendar"></i>
                              </span>
                          </span>
                      </div>
                    </div>
                <br><br>
                <!--Dropdown menu -->

                <div id="ajax_date">
                <% if (reportes_mensuales.length > 0) { %>
                  <% for (let reportes_mensuales1 of reportes_mensuales) { %>
                    <div class="card mb-3">
                      <img class="card-img-top embed-responsive-item" src="<%= reportes_mensuales1.imagen_reporte %>" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title"><%= reportes_mensuales1.titulo_reporte_mensual %></h5>
                          <p class="card-text"><%= reportes_mensuales1.descripcion_reporte_mensual %></p>
                        </div>
                  </div>
                <% } %>
              <% } else { %>
              <h1>No hay Reportes Mensuales de este mes.</h1>
              <% } %>
              </div>
                </div><br><br>

                <!--Agregar Reporte Mensual -->
                  <div style="text-align: right;">
                    <br>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal00" data-whatever="@mdo">Agregar Reporte Mensual</button>
                      <div class="modal fade" id="exampleModal00" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel00" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel0">Agregar Imagen al Banner</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <!--Form -->
                              <form action="/reporte_mensual/post/?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                                <div class="form-group" style="text-align: left;"">
                                  <label for="titulo_reporte_mensual" class="col-form-label">Titulo del Reporte:</label>
                                  <input type="text" class="form-control" id="titulo_reporte_mensual" name="titulo_reporte_mensual" autocomplete="off" required>

                                  <label for="fecha_reporte_mensual" class="col-form-label">Mes del Reporte:</label>
                                  <!--Datepicker -->
                                  <div class="input-group date" id="monthpicker">
                                      <input type="text" id="fecha_r" name="fecha_r" class="form-control" autocomplete="off" placeholder="DD-MM-YYYY" required>
                                      <span class="input-group-append">
                                          <span class="input-group-text bg-white">
                                              <i class="fa fa-calendar"></i>
                                          </span>
                                      </span>
                                  </div>
                                  <!--Datepicker -->

                                  <label for="descripcion_reporte_mensual" class="col-form-label">Descripción del Reporte:</label>
                                  <input type="text" class="form-control" id="descripcion_reporte_mensual" name="descripcion_reporte_mensual" autocomplete="off" required>

                                  <label for="imagen_reporte" class="col-form-label">Imagen del Reporte Mensual:</label>
                                  <input type="file" class="form-control" id="imagen_reporte" name="imagen_reporte" autocomplete="off" accept="image/png, image/gif, image/jpeg, image/jpg" required>
                                  <br>
                                  <input type="hidden" id="fecha_reporte_mensual" name="fecha_reporte_mensual">
                                  <input type="submit" value="Enviar" class="btn btn-primary">
                              </form>
                              <!--Form -->
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>

              <script>
                const async_date = () => {
                    const s_date = document.getElementById('search_date').value;
                    console.log(s_date);
                    //El token de protección CSRF
                    //const csrf = document.getElementById('_csrf').value;
                    //función que manda la petición asíncrona
                    fetch('/reporte_mensual/filtrar/'+s_date, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                            //'csrf-token': csrf
                        }
                        //body: JSON.stringify(data)
                    }).then(result => {
                        return result.json(); //Regresa otra promesa
                    }).then(data => {
                        //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
                        console.log(data);
                        let respuesta = '';
                        for(let reportes_mensuales1 of data) {
                            respuesta +=
                            '<div class="card mb-3">' +
                              '<img class="card-img-top embed-responsive-item" src="' + reportes_mensuales1.imagen_reporte + '" alt="Card image cap">' +
                                '<div class="card-body">' +
                                  '<h5 class="card-title">' + reportes_mensuales1.titulo_reporte_mensual + '</h5>' +
                                  '<p class="card-text">' + reportes_mensuales1.descripcion_reporte_mensual + '</p>' +
                                '</div>' +
                          '</div>';
                        }
                        document.getElementById('ajax_date').innerHTML = respuesta;
                    }).catch(err => {
                        console.log(err);
                    });
                };
                document.getElementById('search_date').change = async_date;
              </script>

<%- include('includes/foot.ejs') %>
