<%- include('includes/head.ejs') %>
  <%- include('includes/topbar.ejs') %>
    <%- include('includes/sidebar.ejs') %>
      <div class="col py-3">
        <div class="jumbotron jumbotron-fluid">

          <div class="container">
            <section class="container">
              <h1 class="pt-4 pb-2">Solicitud de Vacaciones</h1>
              <div style="text-align: right;">
                <br><p>Fecha en la que se realizó la solicitud: <span id='date'></span>.</p>
              </div>

              <br>

                <div class="container-fluid">
                  <div class="row form-group">
                        <label for="turno_ng_block" class="col-sm-3 col-form-label">Elige la fecha</label>
                        <div class="col-sm-4">
                            <div class="input-group date" id="datepicker">


                              <input class="form-control" id="all_dates" name="all_dates" placeholder="YYYY-MM-DD" autocomplete="off" type="text"/>


                                <span class="input-group-append">
                                    <span class="input-group-text bg-white">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </span>
                            </div>

                        </div>
                    </div>
                  <div>
                    <br>
                    <!-- Inicia form-->
                    <form action="/dlc/s_vacaciones" method="POST">
                    <label  for="responsable_ausencia" class="col-form-label"><b>Responsable durante tu ausencia*</b></label>
                    <select name="responsable_ausencia" class="form-select" aria-label="Default select example">
                      <option value="" disabled selected>Responsable</option>
                      <% for (let empleado1 of empleado) { %>
                          <option value="<%=empleado1.nombres_empleados%> <%=empleado1.apellido_paterno%> <%=empleado1.apellido_materno%>"><%=empleado1.nombres_empleados%> <%=empleado1.apellido_paterno%> <%=empleado1.apellido_materno%></option>
                      <% } %>
                    </select>
                  </div>
                  <br><br>
                  <!-- DATOS FAKE-->

                  <input type="hidden" id="no_empleado" name="no_empleado" value="A4">
                  <input type="hidden" id="observaciones" name="observaciones" value="ninguna">
                  <input type="hidden" id="reanudacion_labores" name="reanudacion_labores" value="2022-10-13">
                  <input type="hidden" id="estatus_vacaciones" name="estatus_vacaciones" value="Pendiente">
                  <input type="text" id="fecha_ultimo_dia" name="fecha_ultimo_dia">
                  <input  id="fecha_primer_dia" name="fecha_primer_dia">
                  <input  id="dias_solicitados" name="dias_solicitados">
                  <!-- DATOS FAKE-->
                  <input type="submit" value="Enviar" class="btn btn-primary">
                </div>
              </form>
              <!-- Termina form-->

              <br><br>
              <div style="text-align: right;">
                <a href="/dlc/s_vacaciones">
                  <button id="boton1" class="btn btn-primary" onclick="" style="background-color:#0a0a23"
                    href="/dlc/s_vacaciones">Cancelar Solicitud</button>
                </a>
              </div>
            </section>
          </div>
        </div>
      </div>
      <%- include('includes/foot.ejs') %>
