<%- include('includes/head.ejs') %>
  <%- include('includes/topbar.ejs') %>
    <%- include('includes/sidebar.ejs') %>
      <div class="col py-3">
        <div class="jumbotron jumbotron-fluid">

          <div class="container">
            <section class="container">
              <h1 class="pt-4 pb-2">Solicitud de Vacaciones</h1>
              <div style="text-align: right;">
                <br><p>Fecha en la que se realizó la solicitud: <span id='date'></span>.</p>
              </div>
              <% for (let empleadoV1 of empleadoV) { %>
                <div class="row form-group">
                  <div class="col-sm-8">
                    </div>
                    <div class="col-sm-2">
                    <label for="vacaciones_R1">Vacaciones restantes</label>
                    </div>
                    <div class="col-sm-2">
                    <input type="text" class="form-control" name="vacaciones_R1" id="vacaciones_R1" value="<%= empleadoV1.ng_blocks_restantes %>" style="width: 30%;" disabled>
                  </div>
                </div>
              <% } %>

              <br>

                <div class="container-fluid">
                  <div class="row form-group">


                    <form>
                        <label for="turno_ng_block" class="col-sm-3 col-form-label"><b>Elige la fecha*</b></label>
                        <div class="col-sm-4">
                            <div class="input-group date" id="datepicker">
                              <input type="text" id="all_dates" name="all_dates" class="form-control" autocomplete="off" placeholder="YYYY-MM-DD" required/>
                              <span class="input-group-append">
                                    <span class="input-group-text bg-white">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                      </form>
                    </div>
                  <div>
                    <br>
                      <!-- Inicia form-->
                      <form action="/dlc/s_vacaciones" method="POST">
                        <label  for="responsable_ausencia" class="col-form-label"><b>Responsable durante tu ausencia*</b></label>
                        <select name="responsable_ausencia" class="form-select" aria-label="Default select example" required>
                          <option value="" disabled selected>Responsable</option>
                          <% for (let empleado1 of empleado) { %>
                              <option value="<%=empleado1.nombres_empleados%> <%=empleado1.apellido_paterno%> <%=empleado1.apellido_materno%>"><%=empleado1.nombres_empleados%> <%=empleado1.apellido_paterno%> <%=empleado1.apellido_materno%></option>
                          <% } %>
                        </select>

                      <br><br>
                      <!-- DATOS FAKE-->
                      <input type="hidden" id="no_empleado" name="no_empleado" value="A4">
                      <input type="hidden" id="fecha_ultimo_dia" name="fecha_ultimo_dia">
                      <input type="hidden" id="fecha_primer_dia" name="fecha_primer_dia">
                      <input type="hidden" id="dias_solicitados" name="dias_solicitados">
                      <!-- DATOS FAKE-->
                      <input type="submit" value="Enviar" class="btn btn-primary">
                    </form>
                  </div>
                </div>

              <!-- Termina form-->

              <br><br>
              <div style="text-align: right;">
                <a href="/dlc/s_vacaciones">
                  <button id="boton1" class="btn btn-primary" onclick="" style="background-color:#0a0a23"
                    href="/dlc/s_vacaciones">Cancelar Solicitud</button>
                </a>
              </div>
            </section>
          </div>
        </div>
      </div>
      <%- include('includes/foot.ejs') %>
