<%- include('includes/head.ejs') %>
<%- include('includes/topbar.ejs') %>
<%- include('includes/sidebar.ejs') %>
<body>
  <div class="col py-3">
    <div height class="container">
      <h1 class="display-4"><center>Solicitudes de vacaciones</center></h1>
      <br><br>

    <div class="card-columns">

      <% if (vacaciones.length > 0) { %>
        <% for (let vacaciones1 of vacaciones) { %>
          <% if (vacaciones1.estatus_vacaciones === "Pendiente") { %>
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">

              <form action="/dlc/profile/vacaciones_solicitadas/delete/<%= vacaciones1.folio %>" method="POST">
                <input type="hidden" id="folio" name="folio" value="<%= vacaciones1.folio %>"/>
                <div style="text-align: right;">
                  <button class="btn btn-danger btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></button>
                </div>
              </form>
          <% } else if (vacaciones1.estatus_vacaciones === "Aprobado") { %>
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
          <% } else if (vacaciones1.estatus_vacaciones === 'Rechazado') { %>
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
          <% } else { %>
            <div class="card">
          <% } %>
            <div class="card-header"><%= vacaciones1.estatus_vacaciones %></div>
              <div class="card-body">
                <p class="card-text"><b>Fecha de uso: </b><%= vacaciones1.fecha_solicitud%></p>
                <br><p class="card-text"><b>Primer día de vacaciones: </b><%= vacaciones1.fecha_primer_dia %></p>
                <p class="card-text"><b>Último día de vacaciones: </b><%= vacaciones1.fecha_ultimo_dia %></p>
                <p class="card-text"><b>Días solicitados: </b><%= vacaciones1.dias_solicitados %></p>
                <p class="card-text"><b>Responsable durante ausencia: </b><%= vacaciones1.responsable_ausencia %></p>
                <p class="card-text"><b>Observaciones: </b><%= vacaciones1.observaciones %></p>
                <p class="card-text"><b>Estatus de la solicitud: </b><%= vacaciones1.estatus_vacaciones %></p>
              </div>
            </div>
          </div<br><br>
        <% } %>
      <% } else { %>
        <h2 class="display-4"><center>No haz solicitado vacaciones</center></h2>
      <% } %>
    </div>
  </div>
</div>
</body>

<%- include('includes/foot.ejs') %>
